.footer {
    .footer-custom {
        background: linear-gradient(to right, #021a33, #043a6b); /* Gradiente para destacar */
        color: white;
        text-align: center;
        padding: 30px 0;
        font-weight: bold;
        border-top: 5px solid #ffcc00; /* Borda superior chamativa */
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5); /* Sombra no topo */
    }
    
    .footer-custom p {
        margin: 0;
        font-size: 18px;
    }
}
