body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0a0a0a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Rodapé */
.footer-bottom {
    
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
    background-color: #080808; /* Ajuste a cor de fundo conforme necessário */
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-bottom {
        padding: 10px 0;
    }
}
