<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rh.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Cadastro de Usuário</title>
    <link href="/static/images/chart-pie-solid.svg" rel="icon">
</head>
<body>

   <!-- Contêiner para a barra de navegação e o conteúdo -->
<div class="flex">
    <!-- Barra de Navegação Vertical -->
    <nav class="bg-gray-500 w-64 p-4 flex flex-col border-r border-gray-300 mt-2">
        <!-- Logo ou Título -->
        <a href="/login" class="text-black text-2xl font-semibold mb-8">Inicio</a>

        <!-- Tópicos com Submenus Expansíveis -->
        <div class="flex flex-col space-y-4 mt-4">
            <div>
                <button class="text-white hover:text-gray-400 w-full text-left" id="menu-toggle-cadastro">
                    Cadastro de Usuário
                    <svg class="w-4 h-4 inline-block ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="submenu-cadastro" class="hidden pl-4 space-y-2">
                    </br>
                    <button onclick="window.location.href='/addg'" class="bg-black text-white font-bold py-2 px-4 rounded w-full mb-2">Cadastro de Gerente</button>
                    <button onclick="window.location.href='/addv'" class="bg-black text-white font-bold py-2 px-4 rounded w-full">Cadastro de Vendedor</button>
                </div>
            </div>

            <!-- Botões de Ação -->
            <div class="space-y-4 button-container">
                <button class="custom-button" id="openFormBtn">Abrir Formulário</button>
                <button class="custom-button" id="openAlterarSenhaBtn">Alterar Senha</button>
                <button class="custom-button" id="openVisualizarSenhaBtn">Visualizar Senha</button>
                <button class="custom-button" id="openExcluirUsuarioBtn">Excluir Usuário</button>
            </div>
        </div>
    </nav>

    <!-- Conteúdo (Formulários) ao lado da barra de navegação -->

    <!-- Formulário de Login -->
    <div id="formDiv" class="flex-grow flex items-start justify-center p-8 hidden">
        <div class="bg-gray-500 p-8 rounded shadow-md w-96 mt-4">
            <form action="/login" method="post">
                <div class="mb-4">
                    <label for="username" class="block text-white">Nome de Usuário:</label>
                    <input type="text" id="username" name="username" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-white">Senha:</label>
                    <input type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <button type="submit" class="w-full bg-black text-white p-2 rounded">Entrar</button>
            </form>
        </div>
    </div>

    <!-- Formulário de Alterar Senha -->
    <div id="alterarSenhaDiv" class="flex-grow flex items-start justify-center p-8 hidden">
        <div class="bg-gray-500 p-8 rounded shadow-md w-96 mt-4">
            <form action="/alterar-senha" method="post">
                <div class="mb-4">
                    <label for="username" class="block text-white">Senha Atual:</label>
                    <input type="text" id="username" name="username" required class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="newPassword" class="block text-white">Nova Senha:</label>
                    <input type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <button type="submit" formaction="/atualizar" class="w-full bg-black text-white p-2 rounded">Alterar Senha</button>
            </form>
        </div>
    </div>

    <!-- Formulário de Visualizar Senha -->
    <div id="visualizarSenhaDiv" class="flex-grow flex items-start justify-center p-8 hidden">
        <div class="bg-gray-500 p-8 rounded shadow-md w-96 mt-4">
            <p class="text-white">Aqui você pode visualizar sua senha.</p>
            <button class="w-full bg-black text-white p-2 rounded">Visualizar Senha</button>
        </div>
    </div>

    <!-- Formulário de Excluir Usuário -->
    <div id="excluirUsuarioDiv" class="flex-grow flex items-start justify-center p-8 hidden">
        <div class="bg-gray-500 p-8 rounded shadow-md w-96 mt-4">
            <p class="text-white">Tem certeza de que deseja excluir sua conta?</p>
            <button class="w-full bg-red-600 text-white p-2 rounded">Excluir Conta</button>
        </div>
    </div>

</div>

    <!-- Rodapé -->
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2025 Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Script para controlar os submenus -->
    <script>
        const menuToggleCadastro = document.getElementById('menu-toggle-cadastro');
        const submenuCadastro = document.getElementById('submenu-cadastro');

        menuToggleCadastro.addEventListener('click', () => {
            submenuCadastro.classList.toggle('hidden');
        });

        // Script para abrir os formulários
        const openFormBtn = document.getElementById('openFormBtn');
        const openAlterarSenhaBtn = document.getElementById('openAlterarSenhaBtn');
        const openVisualizarSenhaBtn = document.getElementById('openVisualizarSenhaBtn');
        const openExcluirUsuarioBtn = document.getElementById('openExcluirUsuarioBtn');

        const formDiv = document.getElementById('formDiv');
        const alterarSenhaDiv = document.getElementById('alterarSenhaDiv');
        const visualizarSenhaDiv = document.getElementById('visualizarSenhaDiv');
        const excluirUsuarioDiv = document.getElementById('excluirUsuarioDiv');

        openFormBtn.addEventListener('click', () => {
            formDiv.classList.toggle('hidden');
            alterarSenhaDiv.classList.add('hidden');
            visualizarSenhaDiv.classList.add('hidden');
            excluirUsuarioDiv.classList.add('hidden');
        });

        openAlterarSenhaBtn.addEventListener('click', () => {
            alterarSenhaDiv.classList.toggle('hidden');
            formDiv.classList.add('hidden');
            visualizarSenhaDiv.classList.add('hidden');
            excluirUsuarioDiv.classList.add('hidden');
        });

        openVisualizarSenhaBtn.addEventListener('click', () => {
            visualizarSenhaDiv.classList.toggle('hidden');
            formDiv.classList.add('hidden');
            alterarSenhaDiv.classList.add('hidden');
            excluirUsuarioDiv.classList.add('hidden');
        });

        openExcluirUsuarioBtn.addEventListener('click', () => {
            excluirUsuarioDiv.classList.toggle('hidden');
            formDiv.classList.add('hidden');
            alterarSenhaDiv.classList.add('hidden');
            visualizarSenhaDiv.classList.add('hidden');
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</
