<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-rh.css') }}">
    <title>Cadastro de Usuário</title>
    
</head>
<body>
    <!--navibar-->
    
    <nav class="bg-black p-4 mb-8">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white font-semibold text-xl">Inicio</a>
            <div class="flex space-x-4">
                <a href="/vendas" class="text-white hover:text-gray-300">Relatório de Vendas</a>
                <a href="/rank" class="text-white hover:text-gray-300">Rank de Vendedores</a>
                <a href="/total" class="text-white hover:text-gray-300">Total de vendas</a>
                <a href="/logout" class="text-white border-2 border-white hover:bg-white hover:text-black px-4 py-2 rounded-lg">Logout</a>

            </div>
        </div>
    </nav>

    <h2>Gerenciamento de Usuários</h2>
    <form action="/cadastrar" method="post">
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" formaction="/addvendedor">Cadastrar Vendedor</button>
        <button type="submit" formaction="/addgerente">Cadastrar Gerente</button>
        <button type="submit" formaction="/atualizar">Alterar senha do Usuário</button>
        <button type="submit" formaction="/consultar">Visualizar Senha</button>       
        <button type="submit" formaction="/deletar">Excluir Usuário</button>
    </form>

    
</body>
</html>
